html, body {
  overflow-x: visible !important; /* Forces visibility */
}
.left-animation {
  opacity: 0;
  transform: translateX(-90px);
  animation: slideInLeft 0.5s forwards;
  animation-timeline: view(450px 10px);
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.right-animation {
  opacity: 0;
  transform: translateX(90px);
  animation: slideInRight 0.5s forwards;
  animation-timeline: view(450px 10px);
}
@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* same animation in phones */
@media (max-width: 640px) {
  .left-animation {
  opacity: 0;
  transform: translateX(-10px);
  animation: slideInLeft 0.5s forwards;
  animation-timeline: view();
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.right-animation {
  opacity: 0;
  transform: translateX(10px);
  animation: slideInRight 0.5s forwards;
  animation-timeline: view();
}
@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
}

.project-popup-animation{
  opacity: 0;
  scale: 0.1;
  animation: popup 0.5s forwards;
  animation-timeline: view(450px 10px);
}

@keyframes popup{
  to{
    opacity: 1;
    scale: 100%;
  }
}

